@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

@font-face {
  font-family: 'Century Schoolbook';
  src: url('fonts/CenturySchL-Roma.woff2') format('woff2'),
       url('fonts/CenturySchL-Roma.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Century Schoolbook';
  src: url('fonts/CenturySchL-Bold.woff2') format('woff2'),
       url('fonts/CenturySchL-Bold.woff') format('woff');
  font-weight: bold;
}

html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  /* font-size: 1em; */
}

/*#region Global*/

.text--lg {
  font-family: 'Century Schoolbook';
  font-size: 3rem;
  line-height: 3.5rem;
}

.text--dark {
  color: #707070;
}

.text-white {
  color: white;
}

.text--bold {
  font-weight: bold;
}

.bg-grey {
  background-color: #F7F7F7;
}

.bg-dark {
  background-color: #343434;
}

.text--body {
  font-family: 'Lato';
  font-size: 1.5rem;
  line-height: 2rem;
  color: #707070;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 4rem;
}

.mb-4 {
  margin-bottom: 6rem;
}


/*#endregion Global*/

/*#region Header*/

header {
  height: calc(100vh - 4rem);
  display: grid;
  position: relative;
  grid-template-columns: 55% auto 16rem;
  /* grid-template-rows: 20% 10% 20%; */
  overflow: hidden;
}

.header--img {
  position: absolute;
  z-index: -1;
  width: 100%;    
  height: 100%;    
  object-fit: cover;
}

.header__blurb {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
}

.header__cta {
  display: initial;
}

/*#endregion Header*/

/*#region Content*/
nav {
  height:4rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 
    minmax(4rem, 1fr) 
    4rem
    minmax(auto, 900px)  
    4rem
    minmax(4rem, 1fr);
  color: #707070;
}

.btn {
  font-family: 'Lato';
  text-transform: uppercase;
  color: white;
  background: #CEAC99;
  font-weight: bold;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  margin: auto auto 10px 0px;
  cursor: pointer;
  display: inline-block;
}

.btn--white {
  color: white;
  border: 1px solid white;
  background: transparent;
}

.collage {
  grid-column-end: span 2;
}

.collage--left {
  grid-column-start: 2;
}

.collage--right {
  grid-column-start: 3;
}

.text-section {
  grid-column-start: 3;
  grid-column-end: span 1;
}

.fact {
  border: 4px solid #CDCDCD;
  padding: 2rem;
  position: relative;
}

.fact__title {
  margin-top:-4.5rem;
  z-index: 2;
}
.fact:before {
  background: none;
  border: 4px solid #CDCDCD;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  z-index: -1;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}
.text-section--raised {
  background-color: white;
  padding: 4rem;
  margin-top: -4em;
}

.collage__img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.grey-section {
  
  grid-column: -1/1;
  min-height: 500px;
  position: relative;
  background-color: #F7F7F7;

  
}

.text--raised {
  margin-top: -4.5rem;
}

/*#endregion Content*/

/*#region Footer*/

.footer {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 
    minmax(4rem, 1fr) 
    4rem
    minmax(auto, 900px)  
    4rem
    minmax(4rem, 1fr);
}

.footer__text {
  grid-column-start: 3;
  grid-column-end: span 1;
}

.form__email {
  width: calc(100% - 14rem);
  float: left;
  font-family: 'Lato';
  padding:1rem;
  font-size: 1rem;
}

.form__btn {
  width: 10rem;
}

/*#endregion Footer*/




.grey-section__title {
  position: absolute;
  top:-2rem;
  left: 8rem;
}

.grey-section__wrap {
  noverflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  scroll-snap-type: x mandatory;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.grey-section__wrap::-webkit-scrollbar {
  display: none;
}

.grey-section__child {
  font-family: 'Lato';

  display: inline-block;
  width: 500px;
  height: 100%;
  white-space: normal;

  margin: 50px;
  border: 2px solid #CDCDCD;
  padding: 30px;

  scroll-snap-align: center;
}

@media screen and (max-width: 900px) {
  /* html { font-size: 0.75rem; } */

  content {
    grid-template-columns: 0rem 2rem 1fr 2rem 0rem;
  }

  .footer {
    grid-template-columns: 0rem 2rem 1fr 2rem 0rem;
    padding: 2rem 0;
  }

  .btn {
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  .text--lg {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .text--body {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .collage {
    grid-column-end: -1;
  }

  .collage--left, .collage--right {
    grid-column-start: 2;
  }


  .text-section--raised {
    padding: 2rem;
    /* grid-column: 2 / span 3; */
    margin-top: -4rem;
  }

  .fact__title {
    margin-top:-4rem;
    z-index: 2;
  }
}