html, body {
  margin: 0;
  font-size: 16px;
}

content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4em 4em 1fr 4em 4em;
  grid-auto-rows: auto;
}

nav {
  height:4em;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: calc(100vh - 4em);
  display: grid;
  grid-template-columns: 60% auto 4em;
  grid-template-rows: 4em auto 4em;
}

.header--img {
  position: absolute;
  z-index: -1;
  width: 100%;    
  height: 100%;    
  object-fit: cover;
}

.btn {
  font-family: 'Avenir';
  text-transform: uppercase;
  color: white;
  background: #CEAC99;
  font-weight: bold;
  padding: 1em 1em;
  font-size: 1.25rem;
  cursor: pointer;
}

.text--lg {
  font-family: 'Centry Schoolbook';
  font-size: 3rem;
  line-height: 60px;
  margin-bottom: 0.5em;
}

.text--body {
  font-family: 'Avenir';
  font-size: 1.5rem;
  line-height: 2rem;
  color: #707070;
}

.grid-span-all {
  grid-column: 1/-1;
}

.grid-col-2 {
  grid-column-start: 2;
}

.grid-col-3 {
  grid-column-start: 3;
}

.grid-row-2 {
  grid-row-start: 2;
}

.grid-row-3 {
  grid-row-start: 3;
}

